-
  const modalCases = [
    'ERP-система для производства', 'Fintech-проект', 'Маркетинговые сервисы',
    'Система автоматизации для строительства дата-центров', 'Система хранения и обмена чувствительной информацией',
    'Разработка инструментов для нагруженного сервиса', 'Разработка личного кабинета для СМИ-проекта',
  ]
  const modalCasesList = [
    'Система генерации коммерческих предложений',
    'Система учёта клиентов / контрагентов / счетов',
    'Автогенерация документа + документооборот',
    'Калькуляторы доходности и лизинга',
    'Монитор для камер видеонаблюдения',
    'Система управления внешним сайтами',
    'Система управления ценами по всем площадкам',
    'Личный кабинет для клиентов ДЦ',
    'Аналитический модуль',
  ]

.modal-cases(data-element="modal-cases")
  canvas.modal-cases-canvas
  .modal-cases__slider(data-element="modal-cases-slider")
    .modal-cases__wrapper.swiper-wrapper
      each title, index in modalCases
        .modal-cases__slide.swiper-slide
          .modal-cases__wrap
            .modal-cases__tag NDA
            .modal-cases__title= title
            .modal-cases__area
              .modal-cases__about
                .modal-cases__headline О проекте
                .modal-cases__descr.
                  Ввиду огромных темпов развития компании, старые системы быстро теряли свою актуальность. Мы
                  спроектировали гибкую масштабируемую архитектуру, которая позволяет модернизировать систему
                  под нужды компании в короткие сроки
              .modal-cases__steps
                .modal-cases__headline Что мы сделали
                ul.modal-cases__list
                  each item in modalCasesList
                    li.modal-cases__item= item
            .modal-cases__tech
              each icon in [1,2,3,4]
                img.modal-cases__tech-icon(src=staticImg(`cases/ic_cases_tech_black_${icon}.svg`) alt='')
          picture.modal-cases__picture
            img.modal-cases__image(src=staticImg(`cases/case-${index+1}.jpg`))
