-
  const casesArea = [
    { name: 'ERP-система для производства', transform: 100 },
    { name: 'Fintech-проект', transform: 150 },
    { name: 'Маркетинговые сервисы', transform: 100 },
    { name: 'Система автоматизации для строительства дата-центров', transform: 50 },
    { name: 'Система хранения и обмена чувствительной информацией', transform: 100 },
    { name: 'Разработка инструментов для нагруженного сервиса', transform: 150 },
    { name: 'Разработка личного кабинета для СМИ-проекта', transform: 100 },
  ]

section.cases#cases
  .cases__cont.cont
    .cases__wrap(data-element="cases-wrap")
      h2.cases__caption.h2 Наши кейсы
      .cases__note.title Работаем по NDA
    .cases__area
      each item, index in casesArea
        .cases__box(class=`cases__box_${index+1}` data-transform=item.transform data-role="modal-cases-opener" data-index=index
          data-src=`/statics/img/cases/case-${index+1}.jpg`)
          canvas.cases__canvas
          picture.cases__picture
            source(srcset=staticImg(`cases/case-${index+1}_336.jpg`) media="(max-width: 767px)")
            source(srcset=staticImg(`cases/case-${index+1}_351.jpg`) media="(max-width: 1439px)")
            img.cases__image(src=staticImg(`cases/case-${index+1}.jpg`) alt='')
          .cases__top
            .cases__name= item.name
            .cases__tag NDA
          .cases__tech-icons
            each item in [1,2,3,4]
              img.cases__tech-icon(src=staticImg(`cases/ic_cases_tech_${item}.svg`) alt='')
